* {
    box-sizing: border-box;
}

.topbar {
    background: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    height: 100px;
    margin-bottom: 20px;
}

#myname {
    background: #4aaaaa;
    float: left;
    padding: 10px;
    color: white;

}

nav {
    float: right;
}

h1,
h2,
h3 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 24px;
    background-image: url("../images/floor-tile.png");
    margin: 0;
}

a {
    text-decoration: none;
    color: #777777;
}

section {
    clear: both;
    margin: 0 auto;
    width: 960px;
    border-color: #dddddd;
    background-color: #ffffff;
    padding: 20px;
}

#cat {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}



footer {
    clear: both;
    text-align: center;
    padding-top: 50px;
    background: #666666;
    color: white;
    margin: 0;
    width: 100%;
}

#footcolorblock {
    background: #4aaaaa;
    height: 10px;

}

hr {
    border-width: 2px;
}